/* line 1, ../scss/comm-600.scss */
#zone-branding {
  box-shadow: none;
}
/* line 4, ../scss/comm-600.scss */
#zone-branding .site-details a.logo img {
  width: auto;
}
/* line 11, ../scss/comm-600.scss */
#zone-branding .region-menu .content > ul.menu > li:hover {
  border-top: 2px solid #ffd046;
  margin-top: -2px;
}
/* line 16, ../scss/comm-600.scss */
#zone-branding .region-menu .content > ul.menu > li > a {
  padding: 10px;
}
/* line 18, ../scss/comm-600.scss */
#zone-branding .region-menu .content > ul.menu > li > a:hover {
  background: transparent;
}

/* line 26, ../scss/comm-600.scss */
#zone-header .region.region-header-second {
  background-color: transparent;
  box-shadow: none;
}
/* line 29, ../scss/comm-600.scss */
#zone-header .region.region-header-second #breadcrumb {
  box-shadow: none;
}
/* line 31, ../scss/comm-600.scss */
#zone-header .region.region-header-second #breadcrumb a {
  color: #fff;
  font-weight: 600;
}

/* line 39, ../scss/comm-600.scss */
#page #preface-group, #page #postscript-group {
  padding-bottom: 20px;
  box-shadow: none;
}
/* line 44, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row, #page #preface-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row, #page #postscript-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row, #page #postscript-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row {
  width: 49%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 47, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row:first-child, #page #preface-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row:first-child, #page #postscript-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row:first-child, #page #postscript-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row:first-child {
  margin: 0 1% 0 0;
}
/* line 50, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row:last-child, #page #preface-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row:last-child, #page #postscript-group.total-prefaces-1 .view.total-results-2 .mbp-defaults-row:last-child, #page #postscript-group.total-postscripts-1 .view.total-results-2 .mbp-defaults-row:last-child {
  margin: 0 0 0 1%;
}
/* line 56, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-3 .mbp-defaults-row, #page #preface-group.total-postscripts-1 .view.total-results-3 .mbp-defaults-row, #page #postscript-group.total-prefaces-1 .view.total-results-3 .mbp-defaults-row, #page #postscript-group.total-postscripts-1 .view.total-results-3 .mbp-defaults-row {
  width: 32%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 59, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-3 .mbp-defaults-row:nth-child(2), #page #preface-group.total-postscripts-1 .view.total-results-3 .mbp-defaults-row:nth-child(2), #page #postscript-group.total-prefaces-1 .view.total-results-3 .mbp-defaults-row:nth-child(2), #page #postscript-group.total-postscripts-1 .view.total-results-3 .mbp-defaults-row:nth-child(2) {
  margin: 0 2%;
}
/* line 65, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row, #page #preface-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row, #page #postscript-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row, #page #postscript-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row {
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
  width: 23.5%;
}
/* line 68, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row:nth-child(2), #page #preface-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row:nth-child(2), #page #postscript-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row:nth-child(2), #page #postscript-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row:nth-child(2) {
  margin: 0 1% 0 2%;
}
/* line 71, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row:nth-child(3), #page #preface-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row:nth-child(3), #page #postscript-group.total-prefaces-1 .view.total-results-4 .mbp-defaults-row:nth-child(3), #page #postscript-group.total-postscripts-1 .view.total-results-4 .mbp-defaults-row:nth-child(3) {
  margin: 0 2% 0 1%;
}
/* line 77, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-1 .view.total-results-5 .mbp-defaults-row, #page #preface-group.total-postscripts-1 .view.total-results-5 .mbp-defaults-row, #page #postscript-group.total-prefaces-1 .view.total-results-5 .mbp-defaults-row, #page #postscript-group.total-postscripts-1 .view.total-results-5 .mbp-defaults-row {
  width: 49%;
}
/* line 83, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-2 .preface, #page #postscript-group.total-prefaces-2 .preface {
  width: 49%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 86, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-2 .preface:first-child, #page #postscript-group.total-prefaces-2 .preface:first-child {
  margin: 0 1% 0 0;
}
/* line 89, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-2 .preface:last-child, #page #postscript-group.total-prefaces-2 .preface:last-child {
  margin: 0 0 0 1%;
}
/* line 95, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-3 .preface, #page #postscript-group.total-prefaces-3 .preface {
  width: 32%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 98, ../scss/comm-600.scss */
#page #preface-group.total-prefaces-3 .preface:nth-child(2), #page #postscript-group.total-prefaces-3 .preface:nth-child(2) {
  margin: 0 2%;
}

/* line 105, ../scss/comm-600.scss */
#content-wrapper {
  box-shadow: none;
}
/* line 107, ../scss/comm-600.scss */
#content-wrapper aside {
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}

/* line 112, ../scss/comm-600.scss */
#content {
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 114, ../scss/comm-600.scss */
#content.both-sidebars {
  width: 40%;
  margin: 0 1.5%;
}
/* line 118, ../scss/comm-600.scss */
#content.right-sidebar {
  width: 66%;
  margin-right: 2%;
}
/* line 122, ../scss/comm-600.scss */
#content.left-sidebar {
  width: 73%;
  margin-left: 2%;
}

/* line 128, ../scss/comm-600.scss */
#postscript-group {
  padding-top: 20px;
  box-shadow: none;
}
/* line 135, ../scss/comm-600.scss */
#postscript-group.total-postscripts-2 .postscript {
  width: 49%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 138, ../scss/comm-600.scss */
#postscript-group.total-postscripts-2 .postscript:first-child {
  margin: 0 1% 0 0;
}
/* line 141, ../scss/comm-600.scss */
#postscript-group.total-postscripts-2 .postscript:last-child {
  margin: 0 0 0 1%;
}
/* line 146, ../scss/comm-600.scss */
#postscript-group.total-postscripts-3 {
  width: 32%;
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
}
/* line 149, ../scss/comm-600.scss */
#postscript-group.total-postscripts-3:nth-child(2) {
  margin: 0 2%;
}
/* line 154, ../scss/comm-600.scss */
#postscript-group.total-postscripts-4 .postscript {
  box-shadow: 0px 6px 7px -1px rgba(0, 0, 0, 0.5);
  width: 23.5%;
}
/* line 157, ../scss/comm-600.scss */
#postscript-group.total-postscripts-4 .postscript:nth-child(2) {
  margin: 0 1% 0 2%;
}
/* line 160, ../scss/comm-600.scss */
#postscript-group.total-postscripts-4 .postscript:nth-child(3) {
  margin: 0 2% 0 1%;
}

/* line 167, ../scss/comm-600.scss */
.view-commercial-slider {
  margin: 0 0 30px;
}
/* line 169, ../scss/comm-600.scss */
.view-commercial-slider .flexslider {
  margin: 0;
}
/* line 172, ../scss/comm-600.scss */
.view-commercial-slider .views-field {
  margin-bottom: 0;
}
/* line 176, ../scss/comm-600.scss */
.view-commercial-slider ul.slides > li {
  position: relative;
}
/* line 180, ../scss/comm-600.scss */
.view-commercial-slider .views-field-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 30px;
}
/* line 188, ../scss/comm-600.scss */
.view-commercial-slider .views-field-body > div {
  line-height: 70px;
}
/* line 191, ../scss/comm-600.scss */
.view-commercial-slider .views-field-body a {
  color: #000;
  text-decoration: none;
}
/* line 196, ../scss/comm-600.scss */
.view-commercial-slider .flex-direction-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  line-height: 70px;
}
/* line 202, ../scss/comm-600.scss */
.view-commercial-slider .flex-direction-nav a {
  display: block !important;
  opacity: 1;
  height: 70px;
  top: 25px;
}
/* line 207, ../scss/comm-600.scss */
.view-commercial-slider .flex-direction-nav a.flex-prev {
  left: 0;
}
/* line 210, ../scss/comm-600.scss */
.view-commercial-slider .flex-direction-nav a.flex-next {
  right: 0;
}
